// SPDX-License-Identifier: GPL-2.0+
/*
 * (C) Copyright 2024 Zhihe Computing Technology (Shenzhen) Co., Ltd.
 */

/dts-v1/;

#include "p100-soc.dtsi"

/ {
	model = "zhihe p100 evb";
	compatible = "zhihe,p100-soc", "zhihe, p100-evb";
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		spi0 = &qspi0;
		spi1 = &qspi1;
		spi2 = &spi0;
		spi3 = &spi1;
	};

	chosen {
		bootargs = "console=ttyS4,115200";
		stdout-path = "/soc/serial@08401000:115200";
	};

	config {
		c908-pll-freq = <1896>;
		c908-ccu-div = <1>;
		c920-pll-freq = <2298>;
		c920-ccu-div = <1>;
		cpu-ccu-enable = <0>;
		ddr-ccu-enable = <0>;
		npu-ccu-enable = <0>;
		vi-ccu-enable = <0>;
		vo-ccu-enable = <0>;
		vp-ccu-enable = <0>;
		usb-ccu-enable = <0>;
		pcie-ccu-enable = <0>;
		d2d-ccu-enable = <0>;
		cpu-ppu-dyn = <0>;
		ddr-ppu-dyn = <0>;
	};

	memory@80000000  {
		device_type = "memory";
		reg = <0x00 0x80000000  0x01 0x00000000>; /* 2G */
	};

	cpus: cpus {
		timebase-frequency = <24000000>; /* 24M */
	};

	signature {
		bootph-pre-ram;
		key-dev {
			required = "conf";
			algo = "sha256,rsa2048";
			rsa,r-squared = <0x68bec3f3 0x3bf0d297 0xda573f3d 0x47584cd 0x3a7ed1fa 0xb2f1d671 0x2687be8b 0x996c2ed2 0xfd4fad48 0xaf9c8ab0 0xeeb29007 0xce91965a 0x22de784f 0x8d2aafb5 0x6dc93ee6 0x8e97c1cf 0xdb9af31e 0x55c43026 0x5091bc33 0x5ffa9c32 0x7d46caea 0x1adc3d68 0x9c18457b 0x591655cb 0x96ab0d46 0xd5ef1a3a 0xe3d43abe 0x4a0d964b 0x74881c5e 0x6c9084cf 0xe3b8907a 0xb279100d 0x8969e9d0 0x19bbabda 0xff4b87a5 0xdf994a44 0xe2aea8ab 0x4b56b4b2 0x6dcea2ae 0x33ae87b5 0x4c8dd7f7 0x73ea6081 0x549223be 0x8e7b63d 0xd2e877d5 0xd25af656 0x11d3220 0x4cf03f80 0xa946baa4 0x9ae7c7e9 0x43cb069c 0x27f0afaa 0xc2f7c9f6 0x981cb1a2 0x9d44467a 0x4d5cf5d0 0xfee90fe3 0x5b828c2b 0x3a9dcf53 0xba6956a1 0x5ad91895 0xce5c10f3 0x65036544 0x2e6b64ea>;
			rsa,modulus = <0xb03afddf 0xdec310d6 0xeeb2b63c 0xcf512229 0x6240d68f 0x4252201 0x51ab11cf 0xe904a64b 0x2acf8c95 0xb331ad03 0xcb73eba7 0x4c1e0754 0xe83a5944 0xa5628c98 0x223ea657 0xd535de34 0x318e8b29 0x249cdbcf 0x4469bb38 0xb609701e 0x1f63c622 0x45dc9de9 0xd8affeab 0x6da8361a 0x539c7f0e 0x361cda9f 0xfa877355 0xd2942090 0x75b567c5 0x45db0f86 0xd751153f 0x6c8128f 0x9a394dff 0xf7ac1ad4 0xe47e4033 0x57522063 0x4729ccb4 0x5097f575 0x5e026819 0xc6810b6e 0x69ab698f 0xae49d463 0x8cdc9c5b 0xa217b0d6 0x3e1cbbf5 0xb69bbfe8 0x4aca4f05 0x22dd1e3a 0x19d8142b 0x77b58bbb 0xd3e3dee2 0x409ecaa2 0x86ef3afa 0xdeb63d47 0x5cebb545 0x99c1db5c 0x6217c0a4 0x13f9950b 0xb61c8c00 0x82a527be 0x1328201a 0x9a08e9d1 0xdfded6c1 0xfa5e0d5b>;
			rsa,exponent = <0x00 0x10001>;
			rsa,n0-inverse = <0x8754a52d>;
			rsa,num-bits = <0x800>;
			key-name-hint = "dev";
			u-boot,dm-pre-reloc;
			bootph-pre-ram;
		};
	};

	cipher {
		bootph-pre-ram;
		key-aes256-aes_key-aes_iv {
			key = <0x00>;
			iv = <0x00>;
			bootph-pre-ram;
		};
		key-sm4-sm4_key-sm4_iv {
			key = <0x00>;
			iv = <0x00>;
			bootph-pre-ram;
		};
	};
};

&emmc {
	max-frequency = <196000000>;
};

&sdhci0 {
	max-frequency = <196000000>;
};

&gmac0 {
	phy-mode = "rgmii-id";
};

&gmac1 {
	phy-mode = "rgmii-id";
};

&qspi1 {
	num-cs = <1>;
	spi-swap-data = <1>;
	spi-max-frequency = <36000000>;
	cs-gpios = <&gpio2_port 29 0>;

	flash@1 {
		compatible = "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			partition@norboot0 {
				reg = <0x00000000 0x00100000>;
				label = "norboot0";
			};
			partition@norboot1 {
				reg = <0x00100000 0x00100000>;
				label = "norboot1";
			};
			partition@norenv {
				reg = <0x00200000 0x00040000>;
				label = "norenv";
			};
		};
	};

	spi-flash@1 {
		compatible = "spi-nand";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&qspi0 {
	num-cs = <1>;
	spi-max-frequency = <36000000>;
	cs-gpios = <&gpio0_port 19 0>;

	flash@0 {
		compatible = "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};

	spi-flash@0 {
		compatible = "spi-nand";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&spi0 {
	num-cs = <1>;
	spi-max-frequency = <42000000>;
	cs-gpios = <&gpio0_port 30 0>;

	flash@0 {
		compatible = "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
	};
};

&spi1 {
	num-cs = <1>;
	spi-max-frequency = <42000000>;
	cs-gpios = <&gpio2_port 18 0>;

	flash@0 {
		compatible = "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
	};
};

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* FIXME: clk stages overlay to be selected for real SOC. */

/* bringup stage 3: full subsys + high freq */
/* refer to maximum clk freq in p100-soc-core.dtsi */

/* bringup stage 2: full subsys + medium freq*/
// / {
// 	config {
// 		c908-pll-freq = <1500>;
// 		c908-ccu-div = <1>;
// 		c920-pll-freq = <1500>;
// 		c920-ccu-div = <1>;
// 		cpu-ccu-enable = <0>;
// 		ddr-ccu-enable = <0>;
// 		npu-ccu-enable = <0>;
// 		vi-ccu-enable = <0>;
// 		vo-ccu-enable = <0>;
// 		vp-ccu-enable = <0>;
// 		usb-ccu-enable = <0>;
// 		pcie-ccu-enable = <0>;
// 		d2d-ccu-enable = <0>;
// 		cpu-ppu-dyn = <0>;
// 		ddr-ppu-dyn = <0>;
// 	};
// };

// &clk {
// 	assigned-clocks = <&clk TOP_CFG_ACLK_DIV>, <&clk TOP_PCLK_DIV>,
// 				<&clk AMUX_CLK_DIV>, <&clk IOMMU_PTW_ACLK_DIV>,
// 				<&clk NOC_CCLK_MUX>, <&clk NOC_CCLK_DIV>,
// 				<&clk TOP_CPUSYS_BUS_CLK_MUX>, <&clk TOP_CPUSYS_BUS_CLK_DIV>,
// 				<&clk TOP_CPUSYS_PIC_CLK_MUX>, <&clk TOP_CPUSYS_PIC_CLK_DIV>,
// 				<&clk TOP_PERI_EMMC_REF_CLK_MUX>, <&clk TOP_PERI_EMMC_REF_CLK_DIV>,
// 				<&clk TOP_PERI_MST_ACLK0_DIV>, <&clk TOP_PERI_MST_CLK1_DIV>,
// 				<&clk TOP_PERI_HIRES_CLK0_DIV>, <&clk TOP_PERI_HIRES_CLK1_DIV>,
// 				<&clk TOP_PERI_SPI_SSI_CLK0_DIV>, <&clk TOP_PERI_SPI_SSI_CLK1_DIV>,
// 				<&clk TOP_PERI_QSPI_SSI_CLK_MUX0>, <&clk TOP_PERI_QSPI_SSI_CLK_MUX1>,
// 				<&clk I2C_IC_CLK>, <&clk TOP_UART_SCLK_MUX>;
// 	assigned-clock-rates = <330000000>, /* top_cfg_aclk */
// 				<165000000>, /* top_pclk */
// 				<660000000>, /* top_amux_clk_div */
// 				<330000000>, /* iommu_ptw_aclk_div */
// 				<0>,         /* noc_cclk_mux */
// 				<880000000>, /* noc_cclk_div */
// 				<0>,         /* top_cpusys_bus_clk_mux */
// 				<1000000000>,/* top_cpusys_bus_clk */
// 				<0>,         /* top_cpusys_pic_clk_mux */
// 				<1000000000>,/* top_cpusys_pic_clk */
// 				<0>,         /* emmc_ref_clk_mux */
// 				<203076924>, /* emmc_ref_clk */
// 				<330000000>, /* peri1_mst_aclk */
// 				<220000000>, /* peri3_mst_aclk */
// 				<80000000>,  /* peri1_hires_clk */
// 				<80000000>,  /* peri2_hires_clk */
// 				<220000000>, /* peri1_spi_ssi_clk */
// 				<220000000>, /* peri2_spi_ssi_clk */
// 				<220000000>, /* peri1_qspi_ssi_clk */
// 				<220000000>, /* peri2_qspi_ssi_clk */
// 				<100000000>, /* i2c_ic_clk */
// 				<24000000>;  /* uart_sclk */
// 	assigned-clock-parents = <&clk VIDEO_PLL_FOUT1PH0>, <0>,
// 				<0>, <0>,
// 				<&clk VIDEO_PLL_FOUTVCO>, <0>,
// 				<&clk VIDEO_PLL_FOUTVCO>, <0>,
// 				<&clk GMAC_PLL_FOUTVCO>, <0>,
// 				<&clk VIDEO_PLL_FOUTVCO>, <&clk VIDEO_PLL_FOUTVCO>,
// 				<&clk VIDEO_PLL_FOUT1PH0>, <0>,
// 				<0>, <0>,
// 				<&clk AUDIO1_PLL_FOUTVCO>, <&clk AUDIO1_PLL_FOUTVCO>,
// 				<&clk TOP_PERI_QSPI0_SSI_CLK_DIV0>, <&clk TOP_PERI_QSPI1_SSI_CLK_DIV0>,
// 				<&clk GMAC_PLL_FOUTPOSTDIV>, <&clk AON_OSC_CLK_LOGIC>;
// };

/* bringup stage 1: minisys + low freq */
// / {
// 	config {
// 		c908-pll-freq = <1200>;
// 		c908-ccu-div = <4>;
// 		c920-pll-freq = <2040>;
// 		c920-ccu-div = <4>;
// 		cpu-ccu-enable = <0>;
// 		ddr-ccu-enable = <0>;
// 		npu-ccu-enable = <0>;
// 		vi-ccu-enable = <0>;
// 		vo-ccu-enable = <0>;
// 		vp-ccu-enable = <0>;
// 		usb-ccu-enable = <0>;
// 		pcie-ccu-enable = <0>;
// 		d2d-ccu-enable = <0>;
// 		cpu-ppu-dyn = <0>;
// 		ddr-ppu-dyn = <0>;
// 	};
// };

// &clk {
// 	assigned-clocks = <&clk TOP_CFG_ACLK_DIV>, <&clk TOP_PCLK_DIV>,
// 				<&clk AMUX_CLK_DIV>, <&clk IOMMU_PTW_ACLK_DIV>,
// 				<&clk NOC_CCLK_MUX>, <&clk NOC_CCLK_DIV>,
// 				<&clk TOP_CPUSYS_BUS_CLK_MUX>, <&clk TOP_CPUSYS_BUS_CLK_DIV>,
// 				<&clk TOP_CPUSYS_PIC_CLK_MUX>, <&clk TOP_CPUSYS_PIC_CLK_DIV>,
// 				<&clk TOP_PERI_EMMC_REF_CLK_MUX>, <&clk TOP_PERI_EMMC_REF_CLK_DIV>,
// 				<&clk TOP_PERI_MST_ACLK0_DIV>, <&clk TOP_PERI_MST_CLK1_DIV>,
// 				<&clk TOP_PERI_HIRES_CLK0_DIV>, <&clk TOP_PERI_HIRES_CLK1_DIV>,
// 				<&clk TOP_PERI_SPI_SSI_CLK0_DIV>, <&clk TOP_PERI_SPI_SSI_CLK1_DIV>,
// 				<&clk TOP_PERI_QSPI_SSI_CLK_MUX0>, <&clk TOP_PERI_QSPI_SSI_CLK_MUX1>,
// 				<&clk I2C_IC_CLK>, <&clk TOP_UART_SCLK_MUX>;
// 	assigned-clock-rates =  <165000000>, /* top_cfg_aclk */
// 				<82500000>,  /* top_pclk */
// 				<240000000>, /* top_amux_clk_div */
// 				<165000000>, /* iommu_ptw_aclk_div */
// 				<0>,         /* noc_cclk_mux */
// 				<240000000>, /* noc_cclk_div */
// 				<0>,         /* top_cpusys_bus_clk_mux */
// 				<220000000>, /* top_cpusys_bus_clk */
// 				<0>,         /* top_cpusys_pic_clk_mux */
// 				<250000000>, /* top_cpusys_pic_clk */
// 				<0>,         /* emmc_ref_clk_mux */
// 				<203076924>, /* emmc_ref_clk */
// 				<165000000>, /* peri1_mst_aclk */
// 				<220000000>, /* peri3_mst_aclk */
// 				<80000000>,  /* peri1_hires_clk */
// 				<80000000>,  /* peri2_hires_clk */
// 				<220000000>, /* peri1_spi_ssi_clk */
// 				<220000000>, /* peri2_spi_ssi_clk */
// 				<220000000>, /* peri1_qspi_ssi_clk */
// 				<220000000>, /* peri2_qspi_ssi_clk */
// 				<100000000>, /* i2c_ic_clk */
// 				<24000000>;  /* uart_sclk */
// 	assigned-clock-parents = <&clk VIDEO_PLL_FOUT1PH0>, <0>,
// 				<0>, <0>,
// 				<&clk VIDEO_PLL_FOUTVCO>, <0>,
// 				<&clk VIDEO_PLL_FOUTVCO>, <0>,
// 				<&clk GMAC_PLL_FOUTVCO>, <0>,
// 				<&clk VIDEO_PLL_FOUTVCO>, <&clk VIDEO_PLL_FOUTVCO>,
// 				<&clk VIDEO_PLL_FOUT1PH0>, <0>,
// 				<0>, <0>,
// 				<&clk AUDIO1_PLL_FOUTVCO>, <&clk AUDIO1_PLL_FOUTVCO>,
// 				<&clk TOP_PERI_QSPI0_SSI_CLK_DIV0>, <&clk TOP_PERI_QSPI1_SSI_CLK_DIV0>,
// 				<&clk GMAC_PLL_FOUTPOSTDIV>, <&clk AON_OSC_CLK_LOGIC>;
// };
