# SPDX-License-Identifier: GPL-2.0+

if TARGET_SUN252I

config MACH_SUN252I_V861
	bool
	default y
	select ARCH_SUNXI
	select ARCH_EARLY_INIT_R
	select BINMAN
	select SUPPORT_SPL
	select SYS_CACHE_SHIFT_6
	select SUNXI_GPIO
	select SUNXI_NEW_PINCTRL
	imply SPL_GPIO
	imply CPU
	imply CPU_RISCV
	imply CMD_CPU
	imply SPL_CPU
	imply SPL_OPENSBI
	select DRAM_SUN20I_D1

config DRAM_CLK
	int
	default 1056

config SYS_CLK_FREQ
	default 1008000000

config DRAM_ZQ
	int
	default 8088571

config SYS_BOARD
	default "sunxi"

config SYS_CPU
	default "sun252i"

config SYS_CONFIG_NAME
	default "sun252i"

config TEXT_BASE
	default 0x42000000

config SPL_IMAGE_TYPE
	default "sunxi_egon"

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select OF_HAS_PRIOR_STAGE

endif
