# SPDX-License-Identifier: GPL-2.0

config CLK_ZHIHE_P100
	bool "clock driver for Zhihe P100"
	depends on CLK
	help
	  This clock driver adds support for clock related settings for
	  Zhihe P100 soc.
