# SPDX-License-Identifier: GPL-2.0

config CLK_ZHIHE_A210
	bool "Clock driver for ZhiHe A210"
	depends on CLK
	help
	  This clock driver adds support for clock related settings for
	  Zhihe A210 soc.
